
/* Colors */
#primary-color {
    color: #00BFFB;
}

#secondary-color {
    color: #707070;
}

.section-height-lg {
    min-height: 100%;
}

.section-height-md {
    min-height: 80%;
}

.section-height-sm {
    min-height: 50%;
}

.mb-3{
    margin-bottom: 3rem;
}





body {
    font-family: 'Raleway', sans-serif;
}

p{
    text-indent: 2em;
    padding-top: 1em;
}

.section-portrait {
    padding-bottom: 5rem;
}

.portrait {
    padding-top: 3rem;
    width: 230px;
    margin: auto;
}

#portrait-item {
    border-radius: 50%;
    border-style: solid;
    border-color: #00BFFB;
}


.section-about {
    background-color: #00BFFB;
    padding-bottom: 10em;

}

.section-about .container p,.section-about .container h1{
    color: #FFF;
}

.about-overlapped {
    margin-top: -5em;
}

.section-portfolio {
    margin-top: -10em;
    padding-bottom: 10em;
}

.portfolio-item {
    position: relative;
    -webkit-filter: blur(0);
    filter: blur(0);
    
}

.portfolio-item img {
    border-radius: 3%;
}

.portfolio-item img:hover {
    -webkit-filter: blur(1px);
	filter: blur(1px);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.portfolio-item-button i{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 50px;
    color: #00BFFB;
    display: none;
}

.portfolio-item:hover .portfolio-item-button i {
    -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
    display: block;
}

footer {
    background-color: #00BFFB;
    position: relative;
}

footer span.bulma {
    position: absolute;
    right: 0;
}

footer span .made-with-bulma {
    width: 250px;

}